/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h2 {
    font-size: 22px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/********* Header *************/
    /* Barre de navigation */
    
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 25px;
    } 
    
    .container-nav-links {
        display: flex;
        gap: 65px;
    } 
    
    .nav-logo {
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .nav-logo img {
        width: 61px;
    }

    .nav-links {
        font-size: 16px;
        padding-top: 15px;
        border-top: 2px solid transparent;
    }
    
    .nav-links a:hover {
        color:#0065FC;
        padding-top: 15px;
        border-top: 2px solid #0065FC;
    }

/****** Info Group ***********/
    /* Headline */

.headline-flex {
    height: 55px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: space-between;
}

.headline-box h1 {
    font-size: 22px;
    margin: 0px;
}

.headline-box p {
    font-size: 16px;
    margin: 0px;
}

    /* FIN Headline */

    /* Barre de recherche */
    .recherche-flex {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        height: 50px;
        align-items: center;
        }
      
      .recherche-icone {
      background-color: #F2F2F2;
      font-size: 18px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-style: none;
      padding-top: 15px;
      padding-left: 18px;
      padding-bottom: 14px;
      padding-right: 18px;
      text-align: center;
    }

    .recherche-icone i {
        color: black;
    }

    .recherche-champ input {
      color: black;
      margin: 0px;
      border: 0px ;
      font-size: 18px;
      font-weight: bold;
      border: 1px solid #F2F2F2 ;
      height: 50px;
      width: 200px;
      text-align: center;
    }
    .recherche-bouton1 p {
        margin: 0px;
    }
      
    .recherche-bouton2 i {
        color: white;
    }


    .recherche-bouton1 button {
        background-color: #0065FC;
        cursor: pointer;
        color: white;
        border-style: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
      }

      .recherche-bouton2 button {
        background-color: #0065FC;
        cursor: pointer;
        color: white;
        border-style: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        visibility: hidden;
      }
    
    /* FIN Barre de recherche */

    /* Barre de filtres */
.filtres-flex {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: baseline;
} 

.filtres label {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

.filtres-flex i {
    padding-right: 5px;
    width: 22px;
}

.container-box-filtres {
    display: flex;
} 

.box-filtres {
    font-weight: bold;
    font-size: 17px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    height: 50px;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px
}

.box-filtres:hover {
background-color: #DEEBFF;
}

    /* FIN Barre de filtres */


    /* Barre d'infos*/
    .infobar {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
    }

    .infobar-icon {
        font-size: 10px;
        border: 1px solid #F2F2F2;
        padding-top: 7px;
        padding-left: 11px;
        padding-bottom: 7px;
        padding-right: 11px;
        border-radius: 50%;
        text-align: center;
    }

    .infobar-text {
        font-size: 16px;
        margin-left: 10px;
    }

    /* FIN Barre d'infos */


    .main-sections {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: 614px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-cards-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 210px;
}

.hebergements-card {
    height: 210px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

.hebergements-cards {
    width: 30%;
    height: 210px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.hebergements-cards h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.hebergements-cards p {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.hebergements-card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    line-height: 16px;
    height: 65px;
    justify-content: space-between;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activities {
    padding-left: 30px;
    padding-right: 30px;
}
.activities-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 560px;
    justify-content: space-evenly;
}

.activities-cards-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.activities-cards {
    width: 23%;
}

.activities-card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities-card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    line-height: 16px;
    justify-content: space-between;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    box-sizing: border-box;
}

.activities-cards h3 {
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    box-sizing: border-box;
}

/****** FOOTER ***********/


.footer {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    box-sizing: border-box;
}

.footer-flex {
    justify-content: flex-start;
    width: 33%;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-title p {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

.footer-links a {
    font-size: 16px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-sections {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .filtres-flex {
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .container-box-filtres {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        }
    
    .box-filtres {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        margin-bottom: 250px;
    }

    .hebergements {
        width: 100%;
        gap: 30px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-section {
        height: 400px;
    }
    
    .activities-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */

    .main-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .nav {
        justify-content: center;
        padding-bottom: 30px;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .nav-logo {
        text-align: center;
        padding-bottom: 10px;
    }

    .container-nav-links {
        justify-content: space-evenly;
        gap: 0px;
        text-align: center;
    }

    .nav-links {
        width: 50%;
        padding-bottom: 15px;
        border-bottom: 2px solid #F2F2F2;
    }

    .nav-links:hover {
        border-bottom: 2px solid #0065FC;
    }

    .nav-links a:hover {
        border-top: 0px solid white;
    }

    .infogroup {
        padding-left: 20px;
        padding-right: 20px;

    }

    .headline-flex {
        height: auto;
        gap: 8px;
        margin-bottom: 0px;
    }

    .recherche-flex {
        margin-top: 40px;
    }

    .recherche-champ {
        width: 100%;
      }
      
    .recherche-champ input {
        width: 100%;
      }
      
      .recherche-bouton1 button {
        background-color: #0065FC;
        cursor: pointer;
        color: white;
        border-style: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        display: none;
      }

      .recherche-bouton2 button {
        background-color: #0065FC;
        cursor: pointer;
        color: white;
        border-style: none;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        width: 50px;
        height: 50px;
        margin-left: -10px;
        font-size: 18px;
        font-weight: bold;
        visibility: visible;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      }

    .filtres-flex {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 25px;
        align-items: baseline;
    } 
    
    .container-box-filtres {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    } 

    .box-filtres {
        height: 50px;
        font-size: 14px;
        width: 45%;
        margin: 0px;
        box-sizing: border-box;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .main-sections {
        gap: 0px;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin-bottom: 0px;
        height: auto;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }
    
    .populaires {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 15px;
    }

    .hebergements-cards-flex {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: auto;
        gap: 15px;
    }

    .hebergements {
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        box-sizing: border-box;
        gap: 15px;
    }

    .hebergements-cards {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }
    .populaires-cards .card {
        margin-top: 0px;
    }
    .activities {
        margin-top: 30px;
    }
    .activities-section {
        height: auto;
        gap: 30px;
    }

    .activities-cards-flex {
        flex-direction: column;
        gap: 30px;
    }

    .activities-cards {
        width: 100%;
    }

    .activities-cards img {
        height: 140px;
    }

    .footer {
        flex-direction: column;
        margin-top: 50px;
        padding: 30px;
        gap: 50px;
    }

    .footer-flex {
        width: 100%;
        height: auto;
    }

}